
<!DOCTYPE html>
<html lang="en">

<head>
<title>Online Transparency</title>

<!--Metatags --> 
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Yuening Li, Lisa Koschitz">
<meta http-equiv="refresh" content="300">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Oxygen|PT+Serif|Raleway:700" rel="stylesheet">

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body background="images/bgi.jpg">

<script src="scripts/access.js"></script>
<script src="scripts/terms.js"></script>
<script src="scripts/privacy.js"></script>

<header>

<!-- Navigation -->
<ul class="navbar">
  <li><strong><a href="index.html">HOME</a></strong></li>
  <li><a href="quiz.html">QUIZ</a></li>
  <li><a href="info.html">INFO</a></li>
  <li><a href="contact.html">CONTACT</a></li>
</ul>

<a href="https://www.kcl.ac.uk/index.aspx"><img src="images/logo.gif" style=" width: 6em; top: 0; margin-left: 90%; position: fixed; z-index: 3" alt="Kings's College Logo" class="logo;"></a>

</header>

<!-- Main Body -->

<br>
<br>
<br>
<br>
<div class="mobileShow"> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


<div class="flex-container">
  <article class="main">
  
<h2>CONTACT</h2>
  
<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
    <label for="email">e-mail</label>
    <input type="text" id="email" name="email adress" placeholder="Your email adress..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
  
  
  
	</article>
</div>
  

  

  
<br>
<br>

<div class="footer">


  
<!-- terms of use -->

<div class="footer-flex-container">
  <article class="footer-main2">
  
    <p onclick="myFunctionaccess()">Accessibility</p>
    
  </article>
    <article class="footer-main2">
  
    <p onclick="myFunctionterms()">Terms of Use</p>
    
  </article>
  
    <article class="footer-main2">
  
    <p onclick="myFunctionprivacy()">Privacy Policy</p>
    
  </article>


  </div> 
		
</div>


</body>
</html>