<!DOCTYPE html>
<html lang="en">

<head>
<title>Fake News Guide</title>

<!--Metatags -->
<meta charset="UTF-8">
<meta name="keywords" content="facebook transparency, King's College, digital humanities, research, scholars, academic research">
<meta name="description" content="Diverse research about heavy internet users and their knowledge regarding online transparency">
<meta name="author" content="Y32965">
<meta http-equiv="refresh" content="300">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Fonts -->
<!--<link href="https://fonts.googleapis.com/css?family=Oxygen|Raleway" rel="stylesheet">-->

<!-- Stylesheet -->
<!--<link rel="stylesheet" type="text/css" href="styles/styles.css">-->


</head>
<body>

<header>
<h1> Fake News Field Guide </h1>
</header>

<p> idfyospidoudspof]'adsifidhgodshgidspgsdpgkodshgjhdsgjhsdjgjsdhglksd'
</p>

</body>
</html>
