
<!DOCTYPE html>
<html lang="en">

<head>
<title>Online Transparency</title>

<!--Metatags --> 
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Yuening Li, Lisa Koschitz">
<meta http-equiv="refresh" content="300">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Fonts --> 
<link href="https://fonts.googleapis.com/css?family=Bangers|Faster+One|Roboto:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Montserrat+Subrayada:700|Raleway:900i" rel="stylesheet">

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="styles/stylesheet.css">

	<style>
				.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
				 .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
		</style>
</head>

<body background="images/bgi.jpg">

<script src="scripts/access.js"></script>
<script src="scripts/terms.js"></script>
<script src="scripts/privacy.js"></script>

<header>

<!-- Navigation -->
<ul class="navbar">
  <li><strong><a href="index.html">HOME</a></strong></li>
  <li><a href="quiz.html">QUIZ</a></li>
  <li><a href="info.html">INFO</a></li>
  <li><a href="contact.html">CONTACT</a></li>
</ul>


<a href="https://www.kcl.ac.uk/index.aspx"><img src="images/logo.gif" style=" width: 6em; top: 0; margin-left: 90%; position: fixed; z-index: 3" alt="King's College Logo" class="logo;"></a> <!--("Browser Histories", n.d.)-->

</header>

<!-- Main Body -->

<br>
<br>
<br>
<br>
<div class="mobileShow"> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


<div class="flex-container"> 
<div class='embed-container'><iframe src="https://www.youtube.com/embed/AkwWcHekMdo?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe></div>
<br> 
<br>
</div>

 
<div class="flex-container" style="margin: 0px 0px 0px 0px; ">

<article class="main">
<br>
<center ><img src="images/1.gif" style="max-width:100%; height:auto;" alt="icon"></center>
<h3>At vero eos et accusam et justo</h3>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
</article>

<article class="main">
<br>
<center><img src="images/1.gif" style="max-width:100%; height:auto;" alt="icon"></center>
<h3>At vero eos et accusam et justo</h3>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
</article>

<article class="main">
<br>
<center><img src="images/1.gif" style="max-width:100%; height:auto;" alt="icon"></center>
<h3>At vero eos et accusam et justo</h3>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
</article>

<article class="main">
<br>
<center><img src="images/1.gif" style="max-width:100%; height:auto;" alt="icon"></center>
<h3>At vero eos et accusam et justo</h3>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
</article>

 </div>
 


<div class="flex-container">
  
  <article class="main2">
  <br>
  <br>
  <br>
 <center><img src="images/icon5.gif" style="max-width:100%; height:auto;" alt="icon;" ></center>

  
  <h4 style="color:white; text-align:center; font-size: 40px;">Take the test</h4>
  <p style="color:white; text-align:center; font-size: 20px;">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ro eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est ro eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est  </p>
  <br>
   <center><button class="button button2" onclick="window.location.href='q_internetusers.html'">Nothing easier than that</button></center>
    </article>
  
  <br>
  <br>
  </div>
  
<br>
<br>
  


<div class="footer">



<!-- terms of use -->


<div class="footer-flex-container">
  <article class="footer-main2">
  
    <p onclick="myFunctionaccess()">Accessibility</p>
    
  </article>
    <article class="footer-main2">
  
    <p onclick="myFunctionterms()">Terms of Use</p>
    
  </article>
  
    <article class="footer-main2">
  
    <p onclick="myFunctionprivacy()">Privacy Policy</p>
    
  </article>


  </div> 
		
</div>


</body>
</html>

<!--References

Anon, n.d. Browser Histories [online]. Available at: https://vimeo.com/244031566 [Accessed 11 January 2018].


-->