
<!DOCTYPE html>
<html lang="en">

<head>
<title>Online Transparency</title>

<!--Metatags --> 
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Yuening Li, Lisa Koschitz">
<meta http-equiv="refresh" content="300">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Fonts --> 
<link href="https://fonts.googleapis.com/css?family=Bangers|Faster+One|Roboto:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Montserrat+Subrayada:700|Raleway:900i" rel="stylesheet">

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="styles/stylesheet.css">

</head>

<body background="images/bgi.jpg">

<script src="scripts/access.js"></script>
<script src="scripts/terms.js"></script>
<script src="scripts/privacy.js"></script>

<header>

<!-- Navigation -->
<ul class="navbar">
  <li><strong><a href="index.html">HOME</a></strong></li>
  <li><a href="quiz.html">QUIZ</a></li>
  <li><a href="info.html">INFO</a></li>
  <li><a href="contact.html">CONTACT</a></li>
</ul>


<a href="https://www.kcl.ac.uk/index.aspx"><img src="images/logo.gif" style=" width: 6em; top: 0; margin-left: 90%; position: fixed; z-index: 3" alt="King's College Logo" class="logo;"></a> <!--("Browser Histories", n.d.)-->

</header>

<!-- Main Body -->

<br>
<br>
<div class="mobileShow"> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


<div class="flex-container">
<article class="main2" > 

<h2 style="color: white;">DEAR PARTICIPANT!</h2>
<p style="color: white;">You are taking part of a survey by King’s College London. The aim is to understand the online usage of European citizens better. Of course, your anonymity is guaranteed, and all data is used without any personalised information. </p>

<div class="questioncontainer">

<div class="pq"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ex turpis. </div>
 
<label class="questioncontainer2">Yes
  <input type="radio" name="1">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">No
  <input type="radio" name="1">
  <span class="checkmark"></span>
</label>

<br>

<div class="pq"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ex turpis.</div>

 
<label class="questioncontainer2">multiple times a day
  <input type="radio" name="2">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">once or twice a day
  <input type="radio" name="2">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">weekly
  <input type="radio" name="2">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">monthly
  <input type="radio" name="2">
  <span class="checkmark"></span>
</label>

<br>
<div class="pq"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ex turpis..</div>
 
<label class="questioncontainer2">completely agree
  <input type="radio" name="3">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">kind of agree
  <input type="radio" name="3">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">neither agree or disagree
  <input type="radio" name="3">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">kind of disagree
  <input type="radio" name="3">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">completely disagree
  <input type="radio" name="3">
  <span class="checkmark"></span>
</label>


<br>
<div class="pq"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ex turpis.</div>
 
<label class="questioncontainer2">completely agree
  <input type="radio" name="4">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">kind of agree
  <input type="radio" name="4">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">neither agree or disagree
  <input type="radio" name="4">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">kind of disagree
  <input type="radio" name="4">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">completely disagree
  <input type="radio" name="4">
  <span class="checkmark"></span>
</label>


<br>
<div class="pq"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ex turpis.</div>
 
<label class="questioncontainer2">completely agree
  <input type="radio" name="5">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">kind of agree
  <input type="radio" name="5">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">neither agree or disagree
  <input type="radio" name="5">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">kind of disagree
  <input type="radio" name="5">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">completely disagree
  <input type="radio" name="5">
  <span class="checkmark"></span>
</label>

<br>
<label for="kind_of_data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ex turpis.</label>
    <textarea id="kind_of_data" name="6" placeholder="Write what comes to your mind" style="height:100px"></textarea>

<br>
<br>
<div class="pq"> Please fill in some demographic data, we will anonymise it of course </div>
<br>
<label for="postcode">Please enter your post code</label>
    <textarea id="postcode" name="7" placeholder="E15 .." style="height:40px"></textarea>  


<br>    
<div class="pq"> With what gender do you identify with?</div>
 
<label class="questioncontainer2">female
  <input type="radio" name="8">
  <span class="checkmark"></span>
</label>

<label class="questioncontainer2">male
  <input type="radio" name="8">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">I do not identify as male or female
  <input type="radio" name="8">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">do not wish to answer
  <input type="radio" name="8">
  <span class="checkmark"></span>
</label>


<br>
<div class="pq"> Please select your age.</div>
 
<label class="questioncontainer2">18-25
  <input type="radio" name="9">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">26-35
  <input type="radio" name="9">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">36-45
  <input type="radio" name="9">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">46-55
  <input type="radio" name="9">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">over 55
  <input type="radio" name="9">
  <span class="checkmark"></span>
</label>

<br>     
<div class="pq"> What is your current occupation?</div>
 
<label class="questioncontainer2">employed for wages
  <input type="radio" name="10">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">self-employed
  <input type="radio" name="10">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">unemployed
  <input type="radio" name="10">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">retired
  <input type="radio" name="10">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">student
  <input type="radio" name="10">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">other
  <input type="radio" name="10">
  <span class="checkmark"></span>
</label>


<br>
<div class="pq"> What is the highest level of education you have completed?</div>
 
<label class="questioncontainer2">no schooling completed
  <input type="radio" name="11">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">high school graduate, diploma or the equivalent (for example: GED)
  <input type="radio" name="11">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">trade/technical/vocational training
  <input type="radio" name="11">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">college graduate
  <input type="radio" name="11">
  <span class="checkmark"></span>
</label>
<label class="questioncontainer2">post graduate degree
  <input type="radio" name="11">
  <span class="checkmark"></span>
</label>


<br>
<br>
    <input type="submit" value="Submit">

</div>
  
	</article>
</div>
  

<br>
<br>


<div class="footer">



<!-- terms of use -->


<div class="footer-flex-container">
  <article class="footer-main2">
  
    <p onclick="myFunctionaccess()">Accessibility</p>
    
  </article>
    <article class="footer-main2">
  
    <p onclick="myFunctionterms()">Terms of Use</p>
    
  </article>
  
    <article class="footer-main2">
  
    <p onclick="myFunctionprivacy()">Privacy Policy</p>
    
  </article>


  </div> 
		
</div>


</body>
</html>